<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head-common.html') %>
  <title>Richa Naniwadekar</title>
</head>

<body data-spy="scroll" data-target="#navbarNav">
  <div class="container-fluid homepage-container">
    <%- include('./nav.html', {isHomePage: true}) %>
    <section id="home" class="row homepage-row push-down-due-to-nav justify-content-center">
      <div class="col col-12 crop-site-bg">
        <div class="name-and-title">
          <div class="richa-name">Richa Naniwadekar</div>
          <div class="richa-title">GRAPHIC & UI DESIGNER</div>
        </div>
      </div>
    </section>
    <section class="portfolio-section row align-items-center justify-content-center">
      <h4 id="ui-design" class="title">UI Design</h4>
      <div class="bottom-half row no-gutters col-12 justify-content-between">
        <% projectData['ui-design'].forEach(function(data) { %>
        <%- include('./project.ejs', {data: data}) %>
        <%});%>
      </div>
    </section>
    <section class="portfolio-section row align-items-center justify-content-center">
      <h4 id="print" class="title">Print</h4>
      <div class="bottom-half row no-gutters col-12 justify-content-between">
        <% projectData['print'].forEach(function(data) { %>
        <%- include('./project.ejs', {data: data}) %>
        <%});%>
      </div>
    </section>
    <section class="portfolio-section row align-items-center justify-content-center">
      <h4 id="illustrations" class="title">Illustrations</h4>
      <div class="bottom-half row no-gutters col-12 justify-content-between">
        <% projectData['illustrations'].forEach(function(data) { %>
        <%- include('./project.ejs', {data: data}) %>
        <%});%>
      </div>
    </section>
    <section id="about" class="portfolio-section row align-items-center justify-content-center">
      <h4 class="title">About me</h4>
      <div id="about-bottom-half" class="row no-gutters justify-content-center align-items-center">
        <div class="row photo-text-container justify-content-between">
          <div class="photo-column">
            <img src="./img/about.jpg" alt="">
          </div>
          <div class="text-column row no-gutters">
            <div class="row no-gutters">
              <div class="who-am-i">
                <p class="about-text">
                  A graphic & UI Designer with over seven years of direct experience in sales,
                  marketing, and design. I have a keen eye for detail, talent for driving client satisfaction, 
                  and a track record of solving problems creatively. Most recently, I was a
                  Graphic Designer at the YMCA of Silicon Valley, Santa Clara, California.
                </p>
                <p class="about-text">
                  I'm currently accepting contract design work.
                  I'm also interested in a part-time or full-time design position in the Region of Waterloo or remote.
                  I would love to work at a company that encourages collaboration,
                  values user-focused design, and fosters professional development.
                </p>
              </div>
            </div>
            <div class="row social-networks-row no-gutters">
              <div class="social-networks-col">
                <h2 class="secondary-heading">
                  Contact Me
                </h2>
                <div class="social-networks-icons">
                  <a href="https://www.linkedin.com/in/richa-naniwadekar" target="_blank">
                    <%- include('./img/linkedin.svg') %>
                  </a>
                  <a href="https://www.behance.net/nricha" target="_blank" style="margin-top: 2px;">
                    <%- include('./img/behance.svg') %>
                  </a>
                  <a href="mailto:richa.naniwadekar@gmail.com" style="margin-top: 2px;">
                    <%- include('./img/email.svg') %>
                  </a>
                </div>
              </div>
            </div>
            <a href="/img/Naniwadekar-Richa-Resume.pdf" target="_blank"
              class="row no-gutters resume-button">
              <span>Download Resume</span>
          </div>
        </div>
      </div>
  </div>
  </section>
  </div>
  <%- include('./scripts.ejs') %>
</body>

</html>