<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="./css/main.css">
  <title>Richa Naniwadekar</title>
</head>

<body data-spy="scroll" data-target="#navbarNav">
  <div class="container-fluid homepage-container">
    <%- include('./nav.html', {isHomePage: true}) %>
    <section id="home" class="row homepage-row push-down-due-to-nav justify-content-center">
      <div class="col col-12 crop-site-bg">
        <div class="name-and-title">
          <div class="richa-name">Richa Naniwadekar</div>
          <div class="richa-title">Visual &amp; UI Designer</div>
        </div>
      </div>
    </section>
    <section id="portfolio" class="row push-down-due-to-nav align-items-center justify-content-center">
      <div id="portfolio-bottom-half" class="bottom-half row no-gutters col-12 justify-content-between">
        <% projectData.forEach(function(data) { %>
        <%- include('./project.ejs', {data: data}) %>
        <%});%>
      </div>
    </section>
    <section id="about" class="row push-down-due-to-nav">
      <div id="about-bottom-half" class="row no-gutters justify-content-center align-items-center">
        <div class="row photo-text-container justify-content-between">
          <div class="photo-column">
            <img src="./img/about.jpg" alt="">
          </div>
          <div class="text-column row no-gutters">
            <div class="row no-gutters">
              <div class="who-am-i">
                <h2 class="secondary-heading">Who Am I?</h2>
                <p class="about-text">
                  A Visual and UI Designer with 6+ years of combined experience in sales,
                  marketing, and design. I have an eye for detail, a talent for dealing with demanding clients
                  and stakeholders, and a track record of solving problems creatively. Currently, I’m a
                  Graphic Designer at the YMCA of Silicon Valley. I’m looking for a full-time role as a UI Designer
                  in the SF Bay Area, the Toronto area, or Vancouver. I would love to work at a company that
                  encourages collaboration, values user-focused design, and fosters professional development.
                </p>
              </div>
            </div>
            <div class="row social-networks-row no-gutters">
              <div class="social-networks-col">
                <h2 class="secondary-heading">
                  Contact Me
                </h2>
                <div class="social-networks-icons">
                  <a href="https://www.linkedin.com/in/richa-naniwadekar" target="_blank">
                    <%- include('./img/linkedin.svg') %>
                  </a>
                  <a href="https://www.behance.net/RICHANANIWdf71" target="_blank" style="margin-top: 2px;">
                    <%- include('./img/behance.svg') %>
                  </a>
                  <a href="mailto:richa.naniwadekar@gmail.com" style="margin-top: 2px;">
                    <%- include('./img/email.svg') %>
                  </a>
                </div>
              </div>
            </div>
            <a href="/img/Naniwadekar-Richa-Resume.pdf" target="_blank"
              class="row no-gutters resume-button">
              <span>Download Resume</span>
          </div>
        </div>
      </div>
  </div>
  </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="./js/util.js"></script>
  <script src="./js/scrollspy.js"></script>
  <script src="./js/main.js"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-104887494-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>